accelerate
backoff
bitsandbytes
cityscapesscripts
decord
dill
einops
ftfy
h5py
inflect
ipykernel
jupyter
joblib
kornia
nltk
num2words
omegaconf
pandas
Pillow
prettytable
pycocotools
python_dateutil
PyYAML
qd
regex
requests
rich
sentencepiece
scipy
setuptools
wandb
word2number
yacs
